@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

main {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.background-left {
  background-image: url(./../assets/bg-sidebar-desktop.svg);
  width: 300px;
  min-height: 600px;
  background-size: 100% 100%;
  display: flex;
  padding: 40px;
}

.background-left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.step {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.step h1 {
  font-weight: normal;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#step-1 {
  background-color: #fff;
  color: #000;
}

.li-right h3 {
  color: #ccc;
  font-weight: normal;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.right section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.right-text h1 {
  font-size: 2rem;
}

.form-step {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dados {
  width: 100%;
  outline: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

form .form2,
form .form3,
form .form4 {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.next-step {
  cursor: pointer;
  padding: 15px;
  color: #e5e5e5;
  background-color: #00f;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.back-step {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  left: 40%;
  color: #888;
  background-color: transparent;
  display: none;
  bottom: 15px;
}

.card label {
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 120px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.card input[type="radio"]:checked+label {
  border: 1px solid #00f;
}

.card input[type="radio"] {
  display: none;
}

.card p {
  font-size: 10px;
  margin-top: 5px;
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selector {
  width: 50px;
  height: 25px;
  background-color: #000;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: left;
}

.ball {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.error {
  color: red;
  font-size: 10px;
}

.form3 label {
  width: 100%;
  height: 15%;
  border: 1px solid black;
  padding: 10px 25px;
  padding-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.container-card {
  position: relative;
}

#online,
#larger,
#customizable {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

#online:checked+label,
#larger:checked+label,
#customizable:checked+label {
  border: 2px solid #00f;
}

.card input[type="radio"]:checked + label h1{
  color: #00f;
}

.plano{
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 20px;
  border-radius: 15px;
}

.adicionais, .total{
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.total p{
  font-size: 1.5rem;
  font-weight: bold;
}



@media screen and (max-width: 1024px) {
  *{
    font-size: 12px;
  }
  main{
    padding: 0;
    position: static;
  }
  .li-right{
    display: none;
  }
  .background-left{
    background-image: url(./../assets/bg-sidebar-mobile.svg);
    min-height: 0;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
  }
  .background-left ul{
    display: flex;
    flex-direction: row;
  }
  .right{
    position: absolute;
    top: 120px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 95%;
  }
}